body {
    text-align: center;
}

div{
    margin:10px;
    display : inline-block;
}
.login {
    border : 2px solid #454545;
    padding : 10px;
}

.q {
    font-style: italic;
    background-color: #dddddd;
    padding : 20px 175px 20px 10px;
}

.text {
    width : 550px;
}

hr{
    width : 550px;
}